@import url('./header/header.scss');

$bg-col: green;

body {
    background-color: $bg-col;
}

.test {
    height: 300px;
    width: 400px;
    background-image: url('./../assets/images/image3.jpeg');
    background-size: cover;
}